<head>
        <meta name="keywords" content="BetaBotz-Api">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="BetaBotz-Api">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Free Rest Api  untuk bot whatsapp, telegram, line atau lainnya">
        <meta name="google-site-verification" content="326ziQciDjp-x61P9UMC3-rlUpGIvVUFwOj1gas64UQ"/>
	    <meta name="robots" content="BetaBotz-Api">
        <meta name="author" content="LannGanz">
</head>
<br><br><br><br><br><br>
<center>
<section id="home" data-parallax="scroll" style="  background-image: url(https://telegra.ph/file/78ea1c66a9686db0441ef.jpg);  background-position: top left;  background-size: 100%;  background-repeat: repeat;">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Welcome To</h3>
                <h1>
                    Welcome To BetaBotz-API
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/docs" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Open Docs
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section>
</center>
