<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="BetaBotz-Api">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="BetaBotz-Api">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Melayani rest api gratis untuk masyarakat kurang mampu, gunakan dengan bijak dan tunjukan bahwa kalian anak kreatif. Rest api free public local indonesia">
  <meta name="google-site-verification" content="U2JyB3QSSC6RWGP4lCVi58Mx3bRB0hIMR1O_6L0TLqk" />
  <meta name="robots" content="BetaBotz-Api">
        <meta name="author" content="LannGanz">
  <link rel="apple-touch-icon" sizes="76x76" href="https://telegra.ph/file/78ea1c66a9686db0441ef.jpg">
  <link rel="icon" type="image/png" sizes="96x96" href="https://telegra.ph/file/78ea1c66a9686db0441ef.jpg">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5274370025994358"
     crossorigin="anonymous"></script>
  <title>BetaBotz-Api</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/QNJVy2s/4-K-Loopable-Abstract-Color-Gradient-Background-Animation.jpg" />
  
  <!-- PLUGINS CSS STYLE -->
  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/slick/slick.css">
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="https://demo.themefisher.com/small-apps/plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="https://demo.themefisher.com/small-apps/css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <lord-icon
    src="https://cdn.lordicon.com/udwhdpod.json"
    trigger="loop"
    colors="primary:#121331,secondary:#242424"
    stroke="75"
    style="width:70px;height:70px">
</lord-icon><h4>BETABOTZ - <strong>API</strong></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item active" href="./docs">Dashboard</a></li>
            <li><a class="dropdown-item" href="./search.html">Search Menu</a></li>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown @@pages">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item @@blog" href="https://betabotz-api.herokuapp.com">Rest Api 1</a></li>
            <li><a class="dropdown-item" href="#">Coming Soon</a></li>
          </ul>
        </li>
        <li class="nav-item @@about">
          <a class="nav-link" href="http://wa.me/6285803583481">Chat Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
  <div class="shapes-container">
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
    <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
    <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
        <h1 class="text-white font-weight-bold mb-4">Rest Api public VIKO</h1>
        <p class="text-white mb-5" id="visits">menyediakan rest api gratis tanpa limit dengan kecepatan stabil saat mengkonversi ke json, gunakan rest api dengan bebas cocok untuk bot, website, aplikasi, dan lainnya</p>
        <a href="./docs" class="btn btn-main-md">OPEN DOCS</a>&nbsp;&nbsp;<a href="http://vikoapi-index.herokuapp.com/users/register" class="btn btn-main-md">REGISTER</a>
      </div>
      <div class="col-md-6 text-center order-1 order-md-2">
        <img class="img-fluid" src="http://airspaceusa.com/wp-content/uploads/2016/10/api-icon-300x168.png?229466&229466" alt="screenshot">
      </div>
    </div>
  </div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
  <div class="container">
    <div class="rounded shadow p-5 bg-white">
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
          <lord-icon
    src="https://cdn.lordicon.com/kbtmbyzy.json"
    trigger="loop"
    colors="primary:#1663c7,secondary:#1663c7"
    stroke="120"
    style="width:50px;height:50px">
          </lord-icon>
          <h3 class="mt-4 text-capitalize h5 ">24 jam nonstop</h3>
          <p class="regular text-muted">24 jam tanpa henti dan tanpa adanya limit di apikeynya</p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
          <lord-icon
    src="https://cdn.lordicon.com/wrprwmwt.json"
    trigger="loop"
    colors="primary:#1663c7,secondary:#3080e8"
    stroke="75"
    style="width:60px;height:60px">
          </lord-icon>
          <h3 class="mt-4 text-capitalize h5 ">hidden secret Restapi</h3>
          <p class="regular text-muted">banyak rest api tersembunyi kemungkinan viko menyembunyikan untuk versi premium</p>
        </div>
        <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
          <lord-icon
    src="https://cdn.lordicon.com/sbiheqdr.json"
    trigger="loop"
    colors="primary:#1663c7,secondary:#3080e8"
    stroke="79"
    style="width:60px;height:60px">
          </lord-icon>
          <h3 class="mt-4 text-capitalize h5 ">fast respon Bug/error</h3>
          <p class="regular text-muted">cepat dan tanggap dalam menangani masalah, error, bug pada rest api viko.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-auto align-self-center">
        <div class="feature-content">
          <!-- Feature Title -->
          <h2>APA ITU <strong>API</strong> ?</h2>
          <!-- Feature Description -->
          <p>API adalah singkatan dari Application Programming Interface yaitu sebuah software yang memungkinkan para developer untuk mengintegrasikan dan mengizinkan dua aplikasi yang berbeda secara bersamaan untuk saling terhubung satu sama lain..

Tujuan penggunaan dari API adalah untuk saling berbagi data antar aplikasi yang berbeda tersebut, Tujuan penggunaan API lainnya yaitu untuk mempercepat proses pengembangan aplikasi dengan cara menyediakan sebuah function yang terpisah sehingga para developer tidak perlu lagi membuat fitur yang serupa.

Istilah “API” sebetulnya tidak ada hubungannya dengan hal-hal yang berkaitan dengan web, karena istilah tersebut sudah ada sebelum web. Hal Ini semacam dikooptasi yang berarti “pemanggilan web service”. Tapi secara tradisional, Pengertian API bukan seperti itu. Tapi lebih berkaitan dengan fungsi-fungsi yang disediakan oleh Sistem Operasi.</p>
        </div>
        <!-- Testimonial Quote -->
        <div class="testimonial">
          <ul class="list-inline meta">
            <li class="list-inline-item">
              <img src="http://studiovdk.herokuapp.com/api/tentang/images/vhekr.gif" alt="viko">
            </li>
            <li class="list-inline-item">Viko dwi kurniawan. api.studiovdk.xyz</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 mr-auto justify-content-center">
        <!-- Feature mockup -->
        <div class="image-content" data-aos="fade-left">
          <img class="img-fluid" src="https://miro.medium.com/max/512/1*1efY4vE8NIr92fNImYK1pQ.jpeg" alt="ipad">
        </div>
      </div>
    </div>
  </div>
</section>
<!--====  End of Feature Grid  ====-->

<!--=================================
=            Testimonial            =
==================================-->
<section class="section testimonial" id="testimonial">
  <div class="container">
    <h3><strong>Rekomendasi RestAPI VIKO</strong></h3>
    <div class="row">
      <div class="col-lg-12">
        <!-- Testimonial Slider -->
        <div class="testimonial-slider owl-carousel owl-theme">
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                pinterest api mencari gambar aestetic yang anda cari, memang tidak akurat dan kedepannya akan ada pembaruan lagi ENPOINT URL <a href="./api/pinterest?query=pegunungan&apikey=APIKEY">klik disini</a>
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="image">
              </div>
              <!-- Name and Company -->
              <cite>Pinterest API</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                anda dapat menggunakan youtube play musik & video dalam bentuk json dan anda dapat mengubahnya lagi ke bentuk aplikasi karyamu Endpoint URL <a href="./search.html">klik disini</a>
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="https://kahuripan.kemensos.go.id/wp-content/uploads/2021/01/free-youtube-logo-icon-2431-thumb.png" alt="image">
              </div>
              <!-- Name and Company -->
              <cite>Youtube Play musik & video</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                tebakgambar api yang populer dulu sampai sekarang, dan kali ini saya berikan versi json apinya tanpa biaya apapun, free ENDPOINT URLNYA /api/kuis/tebakgambar?apikey=APIKEY
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="https://play-lh.googleusercontent.com/nKst3pbRhWnywxLMEuhFBbrwPem_5v5EXAtoNINKoCY7wJ-xuRPJ7-_BeJxCXtW9_zE" alt="image">
              </div>
              <!-- Name and Company -->
              <cite>Tebak gambar API</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
        </div>
      </div>
    </div>
  </div>
</section>

<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-alt.png" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/viko.dwi.92"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/vikodk67"><i class="ti-github"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/vikodwik_rmx/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Thanks to</h6>
            <!-- links -->
            <ul>
              <li><a href="#">Zekais</a></li>
              <li><a href="#">Zhirr</a></li>
              <li><a href="#">Benny</a></li>
              <li><a href="#">Ikhya</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Alat pendukung</h6>
            <!-- links -->
            <ul>
              <li><a href="https://www.berdu.id/download/berdu-certificate">Download sertifikat</a></li>
              <li><a href="https://zeks.xyz">Zeks API</a></li>
              <li><a href="https://vhtear.com">vhtear API</a></li>
              <li><a href="https://tobz-api.herokuapp.com/">Tobz</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Team Helper</h6>
            <!-- links -->
            <ul>
              <li><a href="#">Ikhya</a></li>
              <li><a href="#">Fxc7 Farhan</a></li>
              <li><a href="#">Vinz</a></li>
              <li><a href="#">Unknown</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="http://studiovdk.herokuapp.com/api/tentang/index.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Vikodev. Designed by <a
        href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  <script async="" src="https://api.countapi.xyz/hit/studiovdk.herokuapp.com/visits?callback=cb"></script>
  <script>
function cb(response) {
    document.getElementById('visits').innerText = ` menyediakan rest api gratis tanpa limit kecepatan maksimal, gunakan rest api dengan bebas cocok untuk bot, website, aplikasi, dan lainnya ${response.value} sudah mengunjungi viko-api`
}
  </script>
<script type="text/javascript">
    var go_url = 'https://cararegistrasi.com/';
    var api = 'f13c88654b8ac9bd2b0545f2ce8f0c247eadff0f';
    var shorten_includ = ["https://viko-api.herokuapp.com/docs"];
</script>
<script src='//safelinku.com/js/web-script.js'></script>
  <!-- JAVASCRIPTS -->
  <script src="https://demo.themefisher.com/small-apps/plugins/jquery/jquery.min.js"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/slick/slick.min.js"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="https://demo.themefisher.com/small-apps/plugins/google-map/gmap.js"></script>
  
  <script src="https://demo.themefisher.com/small-apps/js/script.js"></script>
</body>
</html>
